{{yield}}

<div class="container">
    <h2 class="title">{{@title}}</h2>
    <nav  class="selections">
        <ul>
            {{#each @lang as |Language|}}
                <li><h2>{{Language}}</h2><input class ="radios" {{on 'click' ( fn this.selected)}} type="radio" name="lang" value="{{Language}} "></li>
            {{/each}}
            <button class="buttons" {{on 'click' (fn this.showSelection Language)}}>Select</button>
        
        </ul>
    </nav>
</div>




